*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
    font-family: 'Libre Baskerville', serif;
    background: linear-gradient(224.99deg, #751C68 1.47%, #48083F 27.05%, #290327 75.55%, #000000 142.37%);
}
.content{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
    section {
        width:100%;
        height: 100vh;
        color:white;
        scroll-snap-align: center;
    }
}
.first_sec{
    background: linear-gradient(224.99deg, #751C68 1.47%, #48083F 27.05%, #290327 75.55%, #000000 142.37%);
}
.second_sec{
    position: relative;
    background: linear-gradient(224.99deg, #6C1F61 -48.9%, #48083F -26.42%, #290327 25.35%, #000000 92.24%);
}



.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 90vh;
    width: 100%;
    h1{
        font-family: 'Prata', serif;
        font-size: 25px;
        line-height: 150px;
        text-align: center;
        letter-spacing: 1.7em;
        text-indent: 5px;
        text-transform: uppercase;
        font-feature-settings: 'pnum' on, 'onum' on;
        color: #FFFFFF;
        transform: translateX(5%);
    }
    .side_nav{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        right: 3%;
        font-size: 2.7rem;
        a{
        color: #ffffff69;
        text-decoration: none;}
        :first-child{
            color: #FFFFFF;
        }
    }
    .social{
        position: absolute;
        display: flex;
        flex-direction: row;
        list-style: none;
        font-variant: small-caps;
        font-family: Baskervville;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        text-align: center;
        text-indent: 5px;
        font-feature-settings: 'pnum' on, 'onum' on;
        color: #FFFFFF;
        left: 0;
        bottom: 3%;
        transform-origin: 0 0;
        transform: rotate(270deg);
        li{
            margin-right: 10%;
            a{
                color: #ffffff;
                text-decoration: none;}
        }
    }
    .arrow_link{
        margin-top: 10%;
            color: #ffffff;
            text-decoration: none;
            font-size: 30px;
            transform: rotate(-270deg);
    }
}
.main_photo{
    transform: translateX(10%);
}
@media screen and (max-width:768px){
    .main{
        h1{
            line-height: 50px;
            font-size: 20px;
        }
       .social{
           //transform: rotate(0deg);
           font-size: 15px;
           bottom: 25%;
        }
       .main_photo{
           max-height: 35%;
           width: auto;
           margin-bottom: 3%;
    }
    }
}
.horbar{
    position: absolute;
    color: #FFFFFF;
    left: 50vw;
    top:3%;
    text-decoration: none;
    width: 10vw;
    border-bottom:0.5px  solid #FFFFFF;
    transform: translate(-50%, 50%);
}
h2{
    width: 100%;
   // margin-top: 5vh;
    display: flex;
    justify-content: flex-end;
    padding-right: 4%;
    letter-spacing: 1.7rem;
    font-variant: small-caps;
    font-size: 25px;
    line-height: 23px;
    text-indent: 5px;
    font-family: 'Prata', serif;
    :first-child{
        font-size: 30px;

        line-height: 20px;
    }
    :last-child{
        font-size: 18px;
        line-height: 27px;
    }
}
.article{
    margin-top: 13vh;
    //height: 80vh;
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
    .glitch-photo{
        width: auto;
        height: 80vh;
    }
}