*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
}
.content{
    height: 100vh;
    section {
        width:100%;
            height: 100vh;
            color:white;
    }
}
//scroll behavior does not work in sass, you will find it in html file at styles.
.content{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;

}
section {
        scroll-snap-align: center;
}
//
.first{
    background: green;
}
.second{
    background: purple;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_photo{
    transform: translateX(10%);
}