*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
    background: linear-gradient(224.99deg, #751C68 1.47%, #48083F 27.05%, #290327 75.55%, #000000 142.37%);
}
.content{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
    section {
        width:100%;
            height: 100vh;
            color:white;
            scroll-snap-align: center;
    }
}
.first_sec{
    background: linear-gradient(224.99deg, #751C68 1.47%, #48083F 27.05%, #290327 75.55%, #000000 142.37%);
}
.second_sec{
    background: linear-gradient(224.99deg, #6C1F61 -48.9%, #48083F -26.42%, #290327 25.35%, #000000 92.24%);
}


.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_photo{
    transform: translateX(10%);
}