header{
    width: 100%;
    position: relative;
}
nav{
    display: none;
    ol{
        display: flex;
        justify-content: space-around;
        align-content: center;
    }
}
.burger{
    display: none;
    &:checked ~ nav{
        display: block;
    }
}
.burger_label{
    position: absolute;
    right:1rem;
    top:0.5rem;
}


@media screen and (min-width:769px){
    .burger_label{
        display: none;
    }
    header{
        display: flex;
        justify-content: space-between;
    }
    nav{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .e_list{
            list-style: none;
            margin-right: 5rem;
        }
    }
}