/* Import czcionki */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
    background: rgb(255,130,156);
    background: radial-gradient(circle at 30% 50%, rgba(255,95,129,1) 0%, rgba(168,48,81,1) 13%, rgba(21,8,36,1) 52%);
    
    
    background-size: 100% 100%;
    background-attachment: fixed;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    display: flex;
}

.container {
    width: 90%;
    max-width: 800px;
    text-align: center;
    position: relative;
    margin-top: 25vh;
}

.error-code {
    font-size: 48px;
    color: #e45172;
    font-weight: 700;
}

.message {
    font-size: 32px;
    font-weight: 700;
}

.description {
    font-size: 16px;
    color: #c3a5c6;
    max-width: 500px;
    margin: 10px auto;
}
