@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville&family=Oranienbaum&family=Prata&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  line-height: 1.6;
  overflow: hidden;
  font-family: 'Libre Baskerville', serif;
  background: linear-gradient(224.99deg, #751C68 1.47%, #48083F 27.05%, #290327 75.55%, #000000 142.37%);
}

.content {
  height: 100vh;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.content section {
  width: 100%;
  height: 100vh;
  color: white;
  scroll-snap-align: center;
}

.first_sec {
  background: linear-gradient(224.99deg, #751C68 1.47%, #48083F 27.05%, #290327 75.55%, #000000 142.37%);
}

.second_sec {
  position: relative;
  background: linear-gradient(224.99deg, #6C1F61 -48.9%, #48083F -26.42%, #290327 25.35%, #000000 92.24%);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 90vh;
  width: 100%;
}

.main h1 {
  font-family: 'Prata', serif;
  font-size: 25px;
  line-height: 150px;
  text-align: center;
  letter-spacing: 1.7em;
  text-indent: 5px;
  text-transform: uppercase;
  -webkit-font-feature-settings: 'pnum' on, 'onum' on;
          font-feature-settings: 'pnum' on, 'onum' on;
  color: #FFFFFF;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
}

.main .side_nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 3%;
  font-size: 2.7rem;
}

.main .side_nav a {
  color: #ffffff69;
  text-decoration: none;
}

.main .side_nav :first-child {
  color: #FFFFFF;
}

.main .social {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  font-variant: small-caps;
  font-family: Baskervville;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  text-align: center;
  text-indent: 5px;
  -webkit-font-feature-settings: 'pnum' on, 'onum' on;
          font-feature-settings: 'pnum' on, 'onum' on;
  color: #FFFFFF;
  left: 0;
  bottom: 3%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.main .social li {
  margin-right: 10%;
}

.main .social li a {
  color: #ffffff;
  text-decoration: none;
}

.main .arrow_link {
  margin-top: 10%;
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
}

.main_photo {
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

@media screen and (max-width: 768px) {
  .main h1 {
    line-height: 50px;
    font-size: 20px;
  }
  .main .social {
    font-size: 15px;
    bottom: 25%;
  }
  .main .main_photo {
    max-height: 35%;
    width: auto;
    margin-bottom: 3%;
  }
}

.horbar {
  position: absolute;
  color: #FFFFFF;
  left: 50vw;
  top: 3%;
  text-decoration: none;
  width: 10vw;
  border-bottom: 0.5px  solid #FFFFFF;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

h2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 4%;
  letter-spacing: 1.7rem;
  font-variant: small-caps;
  font-size: 25px;
  line-height: 23px;
  text-indent: 5px;
  font-family: 'Prata', serif;
}

h2 :first-child {
  font-size: 30px;
  line-height: 20px;
}

h2 :last-child {
  font-size: 18px;
  line-height: 27px;
}

.article {
  margin-top: 13vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-y: hidden;
}

.article .glitch-photo {
  width: auto;
  height: 80vh;
}

header {
  width: 100%;
  position: relative;
}

nav {
  display: none;
}

nav ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

nav ol a {
  color: #FFFFFF;
  font-family: 'Prata', serif;
  font-size: 20px;
  line-height: 32px;
  text-indent: 5px;
  text-transform: uppercase;
  -webkit-font-feature-settings: 'pnum' on, 'onum' on;
          font-feature-settings: 'pnum' on, 'onum' on;
  text-decoration: none;
}

.burger {
  display: none;
}

.burger:checked ~ nav {
  display: block;
}

.burger:checked ~ .burger_label .icon::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 7px;
}

.burger:checked ~ .burger_label .icon::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 7px;
}

.burger_label {
  position: absolute;
  right: 1rem;
  top: 1rem;
  height: 34px;
  width: 34px;
  cursor: pointer;
  display: block;
}

.icon {
  width: 40px;
  height: 2px;
  background: transparent;
  display: block;
  position: relative;
}

.icon::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  display: block;
  top: 3px;
}

.icon::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  display: block;
  bottom: 3px;
}

@media screen and (min-width: 768px) {
  .burger_label {
    display: none;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .e_list {
    list-style: none;
    margin-right: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .main_photo {
    width: 110%;
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  .glitch-photo {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */